<div class="login-div" id="login-div">
    <form class="login-form" id="login-form" action="src/View/action.php" method="post">

        <input type="text" name="phone_no" placeholder="Mobile No." required>
        <input type="password" name="pass" placeholder="Password" required>
        <input type="submit" value="login" name="login">
        <a href="" id="forget-pass">Forget Password</a>
    </form>
</div>
<div id="forget-div" class="forget-div">
    <form id="forget-form" action="src/View/action.php" method="post">
        <input type="text" id="forget-mobile-no" name="mobile_no" placeholder="Mobile Number"required>
        <input type="submit" name="forget" value="Reset Password">
    </form>
</div>
<script src="{{ baseurl }}js/login.js"></script>
<script src="{{ baseurl }}js/index.js"></script>
<script src="{{ baseurl }}js/forget.js"></script>